{{template "base" .}}

{{define "title"}}
    Payment Succeeded!
{{end}}

{{define "content"}}
    <h2 class="mt-5">Payment Succeeded</h2>
    <hr>
    <p>Payment Intent: {{index .Data "payment_intent"}}
    <p>Cardholder: {{index .Data "cardholder"}}
    <p>Email: {{index .Data "email"}}
    <p>Payment Method: {{index .Data "payment_method"}}
    <p>Payment Amount: {{index .Data "payment_amount"}}
    <p>Currency: {{index .Data "payment_currency"}}
{{end}}
